.nav-item a {
  padding-right: 35px;
  text-decoration: none;
  font-size: 24px;
}

.nav-item a:hover {
  color: rgb(12, 89, 197);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-btn {
  background-color: rgb(41, 160, 200);
  color: white;
  outline: none;
  border: none;
  font-size: 25px;
  padding: 10px 12px;
  border-radius: 8px;
}
